.vscode/**
.github/**
docs/**
src/**
test/**
scripts/**
.test-dist/**
**/*.ts
**/*.map
tsconfig.json
tsconfig.test.json
node_modules/**
package-lock.json
.nvmrc
.gitignore
.editorconfig
CONTRIBUTING.md
SECURITY.md
CODE_OF_CONDUCT.md
